<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

    </style>


    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <form action="/create-note">
        <input
            type="text"
            name="title"
            placeholder="Title"
            class="p-2 rounded-md border border-gray-300"
        />
        <input
            type="text"
            name="description"
            placeholder="Description"
            class="p-2 rounded-md border border-gray-300"
        />
        <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-md"
        >Create</button>
    </form>

</body>
</html>
