<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="p-4">
        <a
            class="bg-blue-500 text-white px-4 py-2 rounded-md"
            href="/new"
        >New Note</a>

        <!-- files = [ 'note1.txt', 'note2.txt' ] -->

        <% files.forEach(file=>{ %>
        <div class="bg-gray-200 p-4 rounded-md mt-4">
            <h1 class="text-2xl font-bold"><%= file %></h1>

            <a href="/edit/<%= file %>">
                Edit
            </a>

        </div>
        <%  })%>

    </main>
</body>
</html>
