<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="p-4">
        <h1>Create note</h1>

        <form action="/new-note">
            <input
                type="text"
                placeholder="Enter title"
                class="p-2 rounded-md border border-2"
                name="title"
            >
            <input
                type="text"
                placeholder="Enter description"
                class="p-2 rounded-md border border-2"
                name="description"
            >

            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">
                Create note
            </button>

        </form>

    </main>
</body>
</html>
